// Editor

@bolder: normal;
@lighter: normal;
// @bolder: 500;
// @lighter: 400;

// @TEMP: might go into syntax theme
atom-text-editor-minimap {
    // background-color: #f8f8f8;
}

atom-text-editor.editor,
.results-view-container .preview,
.results-view-container .highlight-info {
    font-weight: @bolder;
}

atom-text-editor.editor .syntax--punctuation {
    font-weight: @lighter;
}

atom-text-editor.editor .syntax--comment {
    font-weight: @lighter;
}

// Tree view in sidebar

.tree-view {
  font-size: 1.2em;
}

.tree-view .name {
    font-weight: @bolder;
}

.tree-view .status-ignored .name {
    font-style: italic;
    font-weight: normal;
}

// Tabs

.tab-bar {
    font-size: 1.3em;
    font-weight: @bolder;
}

// Search files

.results-view-container {
    font-size: 16px;
}

.results-view-container .path-row {
    // background-color: #f5f8ff;
    font-style: italic;
}

.results-view-container li.match-row  {
    position: relative;
    left: 10px;
}

.results-view-container .list-item.selected::before {
    background-color: transparent;
}

// Highlight current selection
// (highlight-selected package)

atom-text-editor .highlights {
  // Dark theme box
  .highlight-selected .region {
    // Subtle highlight
    border: none;
    // border-color: #d9d1a3;
    // border-radius: 3px;
    // border-width: 1px;
    // border-style: solid;
  }
  // Dark theme background (set in settings)
  .highlight-selected.background .region {
    background-color: rgba(217, 209, 163, 0.15);
  }
  // Light theme box (set in settings)
  .highlight-selected.light-theme .region {
    border-color: rgba(217, 209, 163, 0.4);
  }
  // Light theme background (set in settings)
  .highlight-selected.light-theme.background .region {
    background-color: rgba(217, 209, 163, 0.2);
  }
}
